.table {
    color: #140103;
    font-weight: bold;
}

body {
    color: #140103;
    background: #88a3f3;
}

.sidebar-dark .nav-item .nav-link {
    color: #f8f9fc;
}

.sidebar .nav-item .nav-link span {
    font-size: .95rem;
    display: inline;
}

thead {
    box-sizing: border-box;
    background-color: #5a5c69;
    color: #f7eeef;
    white-space: nowrap;
    display: auto;
    overflow-x: auto;
}


/* thead input {
    padding: 2px;
    box-sizing: border-box;
    font-size: small;
    width: 100%;
    background-color: #88a3f3;
} */

table.dataTable tbody tr {
    background-color: #c4d1f8;
}

table.dataTable.display tbody tr.odd {
    background-color: #98aef0;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #88a3f3;
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #c4d1f8;
}

#displayDemand,
#displayDfm1Forecast,
#displayDfm2Forecast,
#displayDfm1RevisionwiseError {
    white-space: nowrap;
    display: block;
    overflow-x: scroll;
}

.hrStyle {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}