{% if user %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href='#'>
            <i class="fas fa-th-large"></i>
            <span>Web Dashboard</span>
        </a>
    </li>
{% endif %}
<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href='/display/demand'>
        <i class="fas fa-th-large"></i>
        <span>Display Demand</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href='/display/forecast'>
        <i class="fas fa-th-large"></i>
        <span>Display Forecast</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href='/display/revisionwiseError'>
        <i class="fas fa-th-large"></i>
        <span>Display RevisionWise Error</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href='/display/blockwiseError'>
        <i class="fas fa-th-large"></i>
        <span>Display Blockwise Error</span>
    </a>
</li>

