{% if user %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href='#'>
            <i class="fas fa-th-large"></i>
            <span>Data Analysis Dashboard</span>
        </a>
    </li>
{% endif %}
<!-- Nav Item - Dashboard -->

<li class="nav-item">
    <a class="nav-link" href="{{url_for('displayDemand')}}">
        <i class="fas fa-th-large"></i>
        <span>Demand</span>
    </a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseForecast" aria-expanded="false" aria-controls="collapseForecast">
        <i class="fas fa-th-large"></i>
        <span>Forecast</span>
    </a>
    <div id="collapseForecast" class="collapse" aria-labelledby="headingForcast" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{url_for('displayDfm1forecast')}}"">Mathematical Model<br/> Forecast</a>
        <a class="collapse-item" href="{{url_for('displayDfm2forecast')}}">MLR Model <br/>Forecast</a>
        <a class="collapse-item" href="{{url_for('displayDfm3forecast')}}"">MLR-Weather Model<br/> Forecast</a>
        <a class="collapse-item" href="{{url_for('displayDfm4forecast')}}">MLp Model <br/>Forecast</a>
        </div>
    </div>
</li>

<li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseError" aria-expanded="false" aria-controls="collapseError">
        <i class="fas fa-th-large"></i>
        <span>Error Analysis</span>
    </a>
    <div id="collapseError" class="collapse" aria-labelledby="headingForcast" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{{url_for('displayrevisionwiseError')}}">RevisionWise Error</a>
        <a class="collapse-item" href="/">Blockwise Error</a>
        </div>
    </div>
</li>

<li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePlots" aria-expanded="false" aria-controls="collapsePlots">
        <i class="fas fa-th-large"></i>
        <span>Demand Plots</span>
    </a>
    <div id="collapsePlots" class="collapse" aria-labelledby="headingForcast" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
        {# plotsController is blueprint name #}
        <a class="collapse-item" href="{{url_for('plotsController.intrastatePlots')}}">Intrastate Plots</a>
        <a class="collapse-item" href="{{url_for('plotsController.interstatePlots')}}">Interstate Plots</a>
        </div>
    </div>
</li>


