{% extends "layoutBase.html.j2" %}
{% block title %}Display MLR Forecast{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Display MLR Model Forecasted Demand</h1>

<form method="post" id="myForm" onsubmit="return validateForm()" name="myForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="startDate">Start Date</label>
      <input type="date" class="form-control" name = "startDate" id="startDate" required >
    </div>
    <div class="form-group col-md-6">
      <label for="endDate">End Date</label>
      <input type="date" name = "endDate" class="form-control" id="endDate">
    </div>
 </div>

 <div class="form-row">
    <div class="form-group col-md-6 selectpicker" multiple data-live-search="true">
      {# <label for="inputState">State</label> #}
      <select id="entityTag" name ="entityTag" class="form-control" placeholder="Select Constituents" multiple>
        <option value="WRLDCMP.SCADA1.A0047000" >WR-Total</option>
        <option  value="WRLDCMP.SCADA1.A0046980">Maharastra</option>
        <option  value="WRLDCMP.SCADA1.A0046957">Gujarat</option>
        <option  value="WRLDCMP.SCADA1.A0046978">Madhya Pradesh</option>
        {# <option  value= "WRLDCMP.SCADA1.A0046945">Chattisgarh</option>
        <option  value="WRLDCMP.SCADA1.A0046962">Goa</option>
        <option  value="WRLDCMP.SCADA1.A0046948">DD</option>
        <option  value="WRLDCMP.SCADA1.A0046953">DNH</option> #}
      </select>
    </div>
    <div class="form-group col-md-6 selectpicker" multiple data-live-search="true">
        <select id="revisionNo" name ="revisionNo" class="form-control" placeholder="Select Revision No." multiple>
        <option value="R0A" >R0A</option>
        <option  value="R0B">R0B</option>
        <option  value="R1">R1</option>
        <option  value="R2">R2</option>
        <option  value= "R3">R3</option>
        <option  value="R4">R4</option>
        <option  value="R5">R5</option>
        <option  value="R6">R6</option>
        <option  value="R7">R7</option>
        <option  value="R8">R8</option>
        <option  value= "R9">R9</option>
        <option  value="R10">R10</option>
        <option  value="R11">R11</option>
        <option  value="R12">R12</option>
        <option  value="R13">R13</option>
        <option  value="R14">R14</option>
        <option  value="R15">R15</option>
        <option  value="R16">R16</option>
      </select>
    </div>
 </div>
 <button type="submit" class="btn btn-primary">Show</button>
</form>

<div id="errorDiv" class="mt-4" style="color:rgb(139,0,0);" ></div>

{% if method == 'POST' %}
{% if data %}

<div id='respDiv' class="mt-3 text-dark row">
    <table id="displayDfm2Forecast" class="table table-bordered table-hover display w-auto" style="width:100%">
        <thead>
            <tr>
                {% for colName in columnNameList %}
                <th>{{colName}}</th>
                {% endfor %}
                
            </tr>
        </thead>    
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row %}
                  {% if value is string %}
                    <td>{{value}}</td>
                  {% else %}
                    <td>{{value|round|int}}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}    
        </tbody>
    </table>

</div>
{% else %}
<div class="alert alert-danger mt-5" >
  <strong>Something went wrong</strong> FOrecasted Demand Data Display Unsuccessfull
</div>
{% endif %}
{% endif %}

{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='displayDfm2Forecast/index.js') }}"></script>
    
{% endblock %}